body {
    background-color: #ffffff;
    width: 100%;
}
body *{
    margin: 10px;
}
#clock {
    font-size: 20px;
    text-align: center;
}
#header {
    background-color: #7a7470;
    font-family :  fantasy, arial, verdana, sans-serif ;
    font-size : 20px;
    color: #000000;
    text-align: right;
}